physionet.org/
models/
Pipfile.lock
.DS_Store
**/__pycache__/
**/__pycache__/*
**.xlsx
*.pyc
**/*.pyc

data/*
!data/e_challenge_anaylsis/
data/e_challenge_anaylsis/*
!data/e_challenge_anaylsis/2016_challenge_annotations.csv

slurm_outputs/*
slurm_outputs/