[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.0.1"
torchvision = "==0.15.2"
tqdm = "==4.65.0"
scipy = "==1.10.1"
resampy = "==0.4.2"
scikit-learn = "==1.2.2"
pandas = "==2.0.1"
xgboost = "==1.7.5"
librosa = "==0.10.0"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
